doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/homepage.css')
  body
    nav#home_nav
    ul
      li
        i.bi-house-fill(style='font-size: 2rem; color: #c9784c;')
        a.nav(href='/' class=(current_path === 'home' ? 'active':'')) Home
      li
        i.bi-arrow-right-circle-fill(style='font-size: 2rem; color: #c9784c;')
        a.nav(href='/classes' class=(current_path === 'classes' ? 'active':'')) Races and Classes
      li
        i.bi-arrow-right-circle-fill(style='font-size: 2rem; color: #c9784c;')
        a.nav(href='/addons' class=(current_path === 'addons' ? 'active':'')
          ) Addons and Macros
      li
        i.bi-arrow-right-circle-fill(style='font-size: 2rem; color: #c9784c;')
        a.nav(href='/resources' class=(current_path === 'resources' ? 'active':'')
          ) Resources
    block content

