extends layout
block content
  div
    // Table Won't Center
    table
      tbody
        tr
          th Alliance
          th Horde
          th Classes
        tr
          td Human
          td Orc
          td Warrior
        tr
          td Dwarf
          td Undead
          td Paladin
        tr
          td Night Elf
          td Tauren
          td Hunter
        tr
          td Gnome
          td Troll
          td Rogue
        tr
          td Draenei
          td Blood Elf
          td Priest
        tr
          td Worgen
          td Goblin
          td Shaman
        tr
          td Pandaren
          td Pandaren
          td Mage
        tr
          td Void Elf
          td Nightborne
          td Warlock
        tr
          td Lightforged Draenei
          td Highmountain Tauren
          td Monk
        tr
          td Dark Iron Dwarf
          td Mag'har Orc
          td Druid
        tr
          td Kul Tiran
          td Zandalari Troll
          td Demon Hunter
        tr
          td Mechagnome
          td Vulpera
          td Death Knight