extends layout
block content
  .home_button
    .addons_title
      h ADDONS
    .wow-addons
      table
        tbody
          tr
            th Economy
            th PvP
            th Boss Fights
          tr
            td Trade Skill Master
            td TellMeWhen
            td Deadly Boss Mods
          tr
            td Auctioneer
            td OmniCD
            td Details!
          tr
            td WorthIt
            td BattleGroundEnemies
            td WeakAuras
          tr
            td Auctionator
            td sArena
            td GTFO
          tr
            td Scrap
            td OmniBar
            td ElveUI
          tr
            td Speedy Autoloot
            td Gladius-Shadowlands
            td ALL THE THINGS
          tr
            td LootAppraiser
            td NameplateAuras
            td SavedInstances
          tr
            td AutoVendor
            td WeaponSwingTimer
            td MythicPlusTimer
          tr
            td GatherMate2
            td LoseControl
            td MaxDps
