extends layout
block content
  .references_title
      h RESOURCES
    nav#resources
      ul
        li
          //
            Example of using a SVG
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currenColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          a.links(href='https://wow.gamepedia.com/Wowpedia' target='_blank') WoWpedia
        li
          //
            Example of using an icon
            <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
          a.links(href='https://www.mmo-champion.com/content/' target='_blank') MMO Champion
        li
          a.links(href='https://www.wowhead.com/' target='_blank') WoWHead
        li
          a.links(href='https://www.icy-veins.com/wow/' target='_blank') Icey Veins
        li
          a.links(href='https://www.curseforge.com/' target='_blank') CurseForge
        li
          a.links(href='https://huntsmanslodge.com/' target='_blank') HuntsmansLodge
